.mainDiv {

    width: 95%;
    margin: auto;
    margin-top: 55px;
    display: flex;


}

.leftPaper {

    width: 60% !important;
    margin-left: 2em !important;
   
}

.handPickedTypo{
    
                
                width: 340px !important;
                    margin-top: 28px !important;
                    font-size: 19px !important;
                    font-weight: 700 !important;
                    margin-bottom: 17px !important;
                    margin-left: 38px !important;
            
        
}

.divider{
    
                
                margin-top: 15px !important; 
                margin-bottom: 13.99px !important;
            
        
}
.typo{
    
                
                font-size: 15px !important;
                    font-weight: 500 !important;
            
        
}
.mainPaper{
 /* width: "449px"; */
 width: 449px;
 padding: 39px;
 margin-left:72px;

}
.heading{

        width: 90%;
        font-size: 13px;
        font-weight: 600;
        margin-left: 11px;
       
  
}
.handpickedHeadings{
     /* width: 340px; */
   margin: auto;
    font-size: 19px;
    font-weight: 700 !important;
}
.subHead{
    width: 202px;
    font-size: 9px;
    font-weight: 500 !important;
    margin-left: 11px;
    color: #AAAAAA;
}
.rightCardContainer{
    margin-top: 38px !important;
    margin-left: 38px !important;
    margin-bottom: 35px !important;
    margin-right: 21px !important;
    
}
@media screen and (max-width: 540px) {
    .mainDiv {
display: flex;
flex-direction: column;
        width: 95%;
        margin: auto;
        margin-top: 55px;
        /* display: grid; */
/* border: 1px solid red; */


    }
    .leftPaper {

        width: 93% !important;
        /* margin: auto; */
        margin-left: 15px !important;
        margin-top: 2em;
/* border: 1px solid red; */
      
    }
    .mainPaper{
        width: 70% !important;
        margin: auto;
        /* margin-left: 2em !important; */
/* border: 1px solid green; */

       
    }
    .handPickedTypo{
    
                
        width: 250px !important;
            margin-top: 28px !important;
            font-size: 17px !important;
            font-weight: 600 !important;
            margin-bottom: 17px !important;
            margin-left: 38px !important;
   

}
.heading{

    width: 170px;
    font-size: 10px;
    font-weight: 500;
    margin-left: 8px;
    /* border: 1px solid red; */

}
.typo{
                
    font-size: 15px !important;
        font-weight: 500 !important;


}
.handpickedHeadings{
    width: 300px;
  margin: auto;
   font-size: 14px;
   font-weight: 600 !important;
   /* border: 1px solid green; */

}
.subHead{
    width: 150px;
    margin: auto;
    font-size: 9px;
    font-weight: 500 !important;
    margin-left: 11px;
    margin-top: -10px;
    color: #AAAAAA;
}
.image{
    width:40% !important;
    height:50% !important;
    /* border: 1px solid red; */
    margin-top: 10px;
}
.rightCardContainer{
    margin-top: 28px !important;
    margin-left: 28px !important;
    margin-bottom: 0 !important;
    margin-right: 21px !important;
    /* margin-left: 0 !important; */
    /* border: 1px solid green; */
}
}